<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merchantmart2" >
    <!-- New storage permissions introduced in Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="RentEasy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp" >
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <!-- Activities -->
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerMainActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true" >

            <!-- Declare SplashActivity as the launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>